<div class="panel">
    <div class="banner">
        <h1 class='phrase_home'>Soluções para uma educação de qualidade.</h1>
        <h1 class='phrase_home'>Soluções que aproximam.</h1>
    </div>
    <div class="form">
        <input type="text" class='form_input'/><br>
        <input type="text" class='form_input'/><br>
        <button>Entrar</button>
        <button>Signup</button>
        <div class='form_links'>
            <a href="#">Entrar com Google</a><br>
            <a href="#">Entrar com o Facebook</a>
        </div>
    </div>
</div>
